@use 'variables' as *;

.mud-surface {
    background-color: var(--mud-palette-surface) !important;
}

.mud-text-surface {
    color: var(--mud-palette-surface) !important;
}

.mud-theme-white {
    color: var(--mud-palette-primary) !important;
    background-color: #ffffff !important
}
